@charset "UTF-8";

body{
    background-color: rgb(145, 145, 145);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green;
}

#main{
    color: white;
    background-color: green;
    text-align: center;
}

h2{
    color: rgb(0, 75, 0);
}

.advanced{
    text-align: right;
}

.destaque{
    background-color: yellow;
}